@keyframes orbit-cw {
	100% {
		transform: rotateZ(360deg);
	}
}
@keyframes orbit-ccw {
	100% {
		transform: rotateZ(-360deg);
	}
}
@keyframes rotation-cw {
	0% {
		transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	}
}
@keyframes rotation-ccw {
	0% {
		transform: rotateX(90deg) rotateY(-360deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	}
}
@keyframes sat-cw {
	0% {
		transform: rotateX(90deg) rotateZ(360deg);
	}
	100% {
		transform: rotateX(90deg) rotateZ(0deg);
	}
}
@keyframes sat-ccw {
	0% {
		transform: rotateX(90deg) rotateZ(-360deg);
	}
	100% {
		transform: rotateX(90deg) rotateZ(0deg);
	}
}

.animate-3d {
	.hierarchy {
		transform: rotateX(75deg);
		transform-style: preserve-3d;
	}
	.star {
		transform: rotateX(90deg);
	}
	.orbit {
		animation: orbit-ccw infinite linear;
		animation-duration: 10s;
	}
	.planet {
		animation: rotation-ccw infinite linear;
		animation-duration: 10s;
	}
	.orbit-moon {
		animation: sat-ccw infinite linear;
		animation-duration: 2s;
	}
	.moon {
		animation: rotation-cw infinite linear;
		animation-duration: 2s;
	}
}

.animate-2d {
	.orbit {
		animation: orbit-ccw infinite linear;
		animation-duration: 10s;
	}
	.orbit-moon {
		animation: orbit-ccw infinite linear;
		animation-duration: 2s;
	}
}
