#universe {
	width: 100vw;
	height: 100vh;
	background-color: black;
	
	@extend %plain;
}

#galaxy {
	width: 80%;
	height: 80%;
	background-color: grey;
	
	@extend %plain;
	
	position: absolute;
}

#system {
	width: 80%;
	height: 80%;
	background-color: darkgray;
	
	@extend %plain;
	
	position: absolute;
}

.hierarchy {
	@extend %plain;
	
	position: absolute;

}

.star {
	width: 80px;
	height: 80px;
	background-color: yellow;
	
	@extend %body;
	
	position: absolute;
	
}

.orbit {
	width: 200px;
	height: 200px;
	
	@extend %orbit;

}

.planet {
	width: 20px;
	height: 20px;
	background-color: brown;
	
	@extend %body;
}

.orbit-moon {
	width: 50px;
	height: 50px;

	@extend %orbit;

}

.moon {
	width: 5px;
	height: 5px;
	background-color: white;
	
	@extend %body;
	
}