#universe {
	width: 100vw;
	height: 100vh;
	background-color: black;
	
	@extend %plain;
}

#galaxy {
	width: 80%;
	height: 80%;
	background-color: grey;
	
	@extend %plain;
	
	position: absolute;
}

#system {
	width: 80%;
	height: 80%;
	background-color: darkgray;
	
	@extend %plain;
	
	position: absolute;
	transition: all 1s linear;
}

.hierarchy {
	@extend %plain;
	
	position: absolute;

}

.star {
	width: 20px;
	height: 20px;
	background-color: yellow;
	
	@extend %body;
	
	position: absolute;
	transition: all 1s linear;
	
}

.orbit {
	width: 60px;
	height: 60px;
	
	@extend %orbit;
	
	transition: all 1s linear;
}

.planet {
	width: 10px;
	height: 10px;
	background-color: brown;
	
	@extend %body;
	
	transition: all 1s linear;
}

.satellite {
	width: 2px;
	height: 2px;
	background-color: white;
	
	@extend %body;
	
	transition: all 1s linear;
	
}