.planet {
	background-image: radial-gradient(circle at 50%, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.9) 70%)
}

@keyframes shadow-orbit {
	0% {
		background-image: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.9) 70%);
		background-position: 0% 50%;
		background-size: 400%;
		//background-repeat: no-repeat;
	}

	25% {
		background-image: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.9) 70%);
		background-position: 50% 50%;
		background-size: 400%;
		//background-repeat: no-repeat;
	}
	
	50% {
		background-image: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.9) 70%);
		background-position: 100% 50%;
		background-size: 400%;
		//background-repeat: no-repeat;
	}

	100% {
		background-image: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.9) 70%);
		background-position: 100% 50%;
		background-size: 400%;
		//background-repeat: no-repeat;
	}
}