// ! plains
// ----------
%plain {
	display: flex;
	align-items: center;
	justify-content: center;
}

// ! orbits
// ----------
%orbit {
	border: 1px solid black;
	border-radius: 50%;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	position: absolute;
	
	transform-style: preserve-3d;
}

// ! Bodies
// ----------
%body {
	border-radius: 50%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	transform-style: preserve-3d;
}
